/* screen - macbook-pro-14u34-7 */

.macbook-pro-14u34-7 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1512px;
  padding: 0 106px;
  width: 1512px;
}

.macbook-pro-14u34-7 .flex-row {
  align-items: flex-end;
  display: flex;
  height: 319px;
  min-width: 1280px;
}

.macbook-pro-14u34-7 .title {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 18px;
  min-height: 232px;
  width: 577px;
}

.macbook-pro-14u34-7 .ellipse-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 57px;
  margin-left: 73px;
  min-height: 319px;
  width: 195px;
}

.macbook-pro-14u34-7 .ellipse-5 {
  height: 194px;
  width: 195px;
}

.macbook-pro-14u34-7 .ellipse {
  height: 68px;
  width: 68px;
}

.macbook-pro-14u34-7 .ellipse-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 57px;
  margin-left: 115px;
  min-height: 262px;
  width: 154px;
}

.macbook-pro-14u34-7 .ellipse-6 {
  align-self: flex-end;
  height: 137px;
  width: 138px;
}

.macbook-pro-14u34-7 .ellipse-7 {
  align-self: center;
  height: 137px;
  margin-bottom: 68.0px;
  margin-left: 28px;
  width: 138px;
}

.macbook-pro-14u34-7 .overlap-group1 {
  align-self: center;
  height: 480px;
  margin-left: 2.5px;
  margin-top: 79px;
  position: relative;
  width: 1200px;
}

.macbook-pro-14u34-7 .rectangle-5 {
  border: 3px dashed;
  border-color: var(--mine-shaft);
  height: 401px;
  left: 4px;
  position: absolute;
  top: 78px;
  width: 1197px;
}

.macbook-pro-14u34-7 .rectangle-7 {
  background-color: var(--white);
  height: 39px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 370px;
}

.macbook-pro-14u34-7 .overlap-group {
  align-self: flex-end;
  height: 484px;
  margin-right: 11.0px;
  margin-top: 54px;
  position: relative;
  width: 1240px;
}

.macbook-pro-14u34-7 .rectangle-8 {
  border: 3px dashed;
  border-color: var(--mine-shaft);
  height: 401px;
  left: 0;
  position: absolute;
  top: 84px;
  width: 1197px;
}

.macbook-pro-14u34-7 .rectangle-9 {
  background-color: var(--white);
  height: 39px;
  left: 698px;
  position: absolute;
  top: 72px;
  width: 518px;
}
